

<div class= "outercontainer">
<div class="spacemaker">             </div>

   <div class="search-bottle">

      <form class="search">
      Search Wine Database:<br>
      <input type="text" name="search" >
      </form>
      <div class="bottle">
      </div>

   </div>

   <div class="outerbottle" style = "text-align: end">
   <h1 >Collection of Mine!!!</h1>
     
    <% @bottles.each do |bottle| %>
     <div class="bottlecard">
       <div class="bottle-card-image">
         <img src="<%= bottle.label_image%>">
       </div>
       <div class="bottle-card-header">
         <%= link_to bottle.name, bottle_path(bottle) %> 
       </div>
       <div class="bottle-card-copy">
         <%= bottle.vintage %>
         
       </div>
     </div>
      <% end %>
   </div>

   
</div>

