<div class= "outercontainer">
  <div class="search-bottle">
    <div id="search-form">
      <form class="search">
        <h2>SEARCH WINE</h2>      
        <input type="text" name="search" class="search-field">
        <%= submit_tag("Unscrew", :class=>"taste") %>
      </form>
    </div>
    <div class="bottle"></div>
  </div>
</div>