<h2>All Bottles </h2>
<% if Bottle.all == [] %>
  <p>"no bottles in database"</p>
<% else %>
  <% Bottle.all.each do |bottle|  %>
    <%= link_to bottle.name, bottle_path(bottle) %><br>
  <% end %>
<% end %>
<hr/>
<h3>Search form</h3>
<h3>Filtering</h3>