<h1>VIRTUAL WINE LIBRARY</h1>

<h2> <%= link_to "Log In", new_session_path %> | <%= link_to "Sign Up", new_user_path %></h2>



<%# @user.each do |user| %>
<!--   <dl>
    <dt>
    <img src="<%#= user.avatar_url %>" alt="profile_image">
    <h1><%#= user.full_name %></h1>
    <h2><%#= user.age %> | <%#= user.region %></h2>
    <p><%#= user.description %></p>
    </dt>
  </dl>
  <hr> -->
<%# end %>