<h1>HERE AND NOW WE ARE BUILDING VIRTUAL WINE LIBRARY</h1>

<h2>This is our fake users </h2>

<% @user.each do |user| %>
  <ul>
    <li>
    <img src="<%= user.avatar_url %>" alt="profile_image">
    <%= user.fname %></li>
  </ul>
<% end %>