<div class="outer">
<!-- adding background color and containers -->
  <div class="triplet">
    <div class="size">
      <img class="imgsize" src="/assets/aiste.jpg">
    </div>
    <h1> </h1>
    <h3>Aiste</h3>
    <p>Trainer with an eye for front-end nuances.</p>
  </div>
  <div class="triplet">
    <div class="size"><img class="imgsize" src="/assets/priya.jpg"></div>
    <h1> </h1>
    <h3>Priya</h3>
    <p>Passionate about design and ready to dive deep into projects.
    </p>
      
    </div>
 <div class="triplet">
    <div class="size"><img class="imgsize" src="/assets/dakota.jpg"></div>
    <h1> </h1>
    <h3>Dakota</h3>
    <p> API ninja,  boxed wine connoisseur, aspiring visual data analyst.</p>
    </div>

</div>
