<div class="outer">
<!-- adding background color and containers -->
  <div class="triplet">
    <div class="aiste">
    </div>
    <h3>Aiste</h3>
    <p>Trainer with an eye for front-end nuances.</p>
  </div>
  <div class="triplet">
    <div class="priya"></div>
    <h3>Priya</h3>
    <p>loves wine and passionate about design and code.
    </p>
      
    </div>
  <div class="triplet">
    <div class="dakota"></div>

    <h3>Dakota</h3>
    <p>Beer,wine and API expert..Thats the way I roll</p>
    </div>

</div>
