<h3>Wine</h3>
  <%= link_to "Add new bottle", new_bottle_path %>
  <%= link_to "Search", bottles_path %>
<h3>Regions</h3>
  <% if Region.all == [] %>
    <p>"no regions in database"</p>
  <% else %>
    <% Region.all.each do |region|  %>
      <%= region.name %>
    <% end %>
  <% end %>
<h3>Wineries</h3>
  <% if Winery.all == [] %>
    <p>"no wineries in database"</p>
  <% else %>
    <% Winery.all.each do |winery|  %>
      <%= winery.name %>
    <% end %>
  <% end %>
<h3>Events</h3>
