<div class="outer">


<!-- adding background image and adding Title -->
<div class="hero">
  <div class="hero-inner">
   <a href=""> </a>
    <div class="hero-copy">
      <h1>Taste...Swings </h1>
      <p>For you, your wine and for love.</p>  
    </div>
   <!--  <small> <a href="" class="hero-logo"><img src="/assets/icon_wine.png" alt="Logo Image"></a></small>
    <button>un-cork</button> -->
  </div>
</div>

</div>





<!-- adding cards and wrappiong in an outer container. -->
<!-- <div class="outer">
  <div class="innershort">
    <p>this is where the pics go</p>

    <div class="card">
      <div class="card-image">
        <img src="/assets/chalkwinebottle.jpg">
      </div>
      <div class="card-header">
        card1
      </div>
      <div class="card-copy">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
      </div>
    </div>

     <div class="card">
      <div class="card-image">
        <img src="/assets/grapevine.jpg" alt="">
      </div>
      <div class="card-header">
        Card2
      </div>
      <div class="card-copy">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
      </div>

  </div>
  </div> 
  <div class="innershort">
    <p>this is where the center goes</p>
  </div>
   <div class="innershort">
    <p>this is where nothing goes</p>
  </div> -->
<!--     
</div>
 -->


<!-- <div class="hero">
  <div class="hero-inner">
    <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo Image"></a>
    <div class="hero-copy">
      <h1>Short description of Product</h1>
      <p>A few reasons why this product is worth using, who it's for and why they need it.</p>  
    </div>
    
  </div>
</div>
 -->



<!-- <h1>VIRTUAL WINE LIBRARY</h1>

<h2><%= link_to "All Events", events_path %></h2>
<h2><%= link_to "All Bottles", bottles_path %></h2>

<hr>

<h2><%= link_to "Add an event", new_event_path %></h2>
<h2><%= link_to "Add an bottle", new_bottle_path %></h2> -->