.outer{
  @include outer-container;
  
  .triplet{
  @include span-columns(4);
  @include pad();
  text-align: center;
  padding: 2em;
}
}
   
    .imgsize{
    max-width: 178px;
    max-height: 178 px;
    flex: 1;
 
    }

