@import "bourbon";
@import "neat";
@import "events";
@import "users";
@import "welcome";
@import "footer";
@import "header";
@import "template";
@import "about";



/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self.
 */


 //body color
 $base-body-color : tint(black,5%);

@font-face {
    font-family: chalk;
    src: url('/assets/chalk/KGTenThousandReasons.ttf');
}

body{

  font-family: chalk;
  @include outer-container;
  background-color: $base-body-color;
  background-position: 10px 10px;

 
  }
  
  
  






 //colors





 //font color

 //text link color


 //border color

 //flash color

