@import "bourbon";
@import "base/base";
@import "neat";

@import "texture";
@import "header";
@import "events";
@import "users";
@import "welcome";
@import "footer";

@import "template";
@import "sliding-panel-content";
@import "header";
@import "accordion-tabs";
@import "hover-tile-outer";
@import "cards";


@import "about";

@import "modal";



/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self.
 */


 //body color
 $base-body-color : tint(black,20%);
  $texture-top-background: lighten(black, 1%);
  $texture-bottom-background: darken(black, 10%);

@font-face {
    font-family: chalk;
    src: url('/assets/chalk/KGTenThousandReasons.ttf');
}

body{

  color:white;
  @include texture(180deg, $texture-top-background, $texture-bottom-background, 28, 1); 
  
  @include outer-container;
  background-color: $base-body-color;
  background-position: 10px 10px;

//Input text box colors and on hover 
  #{$all-text-inputs} {
    border: 1px solid #ffb90f;
  }

  #{$all-text-inputs-focus},
  #{$all-text-inputs-hover} {
    border: 1px solid #ee7621;
  }


  }


