
 //body color
  $base-body-color : tint(black,20%);
  $texture-top-background: lighten(black, 1%);
  $texture-bottom-background: darken(black, 10%);

/*@font-face {
    font-family: chalk;
    src: url('/assets/chalk/KGTenThousandReasons.ttf');
}
*/
@font-face {
    font-family: redfish;
    src: url('/assets/chalk/redFish.otf');
}


body{

  color: white;
  @include texture(180deg, $texture-top-background, $texture-bottom-background, 28, 1); 
  
  @include outer-container;
  background-color: $base-body-color;
  background-position: 10px 10px;

//Input text box colors and on hover 
  #{$all-text-inputs} {
    border: 1px solid #ffb90f;
  }

  #{$all-text-inputs-focus},
  #{$all-text-inputs-hover} {
    border: 1px solid #ee7621;
  }


  }

