.events-index {
  max-width: 80%;
  margin: 0 auto;
}

.eventinfo {
	
	@include outer-container;

	.event1{
	@include span-columns(4);
			.imagefit{
			width:100% ;
			margin-right: 3em;
			margin-left: 1em;
			margin-bottom: 5em;
			margin-top: 4em;
			
			}
	}
	.eventdetails{
		@include span-columns(6);
		margin-left: 8em;
		margin-top: 3em;
	}

}

//card details

.outerbottle{
		@include outer-container;


 .bottle{
     
      @include display(flex);
      @include flex-wrap(wrap);
      @include justify-content(space-between);
      width: 69%;
      margin: 0 auto;
    }

   	.bottlecard {
        @include span-columns(2);
      $base-border-color: #F7D358;
      $base-border-radius: 3px !default;
      $base-background-color: orange !default;
      $base-spacing: .5em !default;
      $action-color: orange !default;
      $base-link-color: $action-color !default;
      $dark-gray:white !default;
      $base-font-color: orange;
      $card-border-color: $base-border-color;
      $card-border: 1px solid $card-border-color;
      $card-background: lighten($card-border-color, 10%);
      $card-header-background: $card-background;
      $card-hover-background: lighten($card-background, 5%);
      $card-image-background: #DF7401;
      $card-image-hover-background: lighten($card-image-background, 5%);
      $card-margin: 1em;
      width: 153px;
     

      @include flex-basis(7em);
      @include flex-grow(1);
      @include transition (all 0.2s ease-in-out);
      background-color: $card-background;
      border-radius: $base-border-radius;
      border: $card-border;
      box-shadow: 0 2px 4px darken($base-background-color, 10%);
      cursor: pointer;
       margin: 0 $card-margin $base-spacing $card-margin;
      position: relative;

      .bottle-card-image {
        overflow: hidden;
        max-height: 150px;
        max-width:150px;

          img {
            @include transition (all 0.2s ease-in-out);
            background: $card-image-background;
            border-top-left-radius: $base-border-radius;
            border-top-right-radius: $base-border-radius;
            width: 100%;
          }
      }

      .bottle-card-header {
        @include transition (all 0.2s ease-in-out);
        background-color: $card-header-background;
        border-bottom: $card-border;
        border-radius: $base-border-radius $base-border-radius 0 0;
        font-weight: bold;
        line-height: 1em;
        padding: ($base-spacing / 3) ($base-spacing / 2);
      }

      .bottle-card-copy {
        font-size: 0.9em;
        line-height: 1.5em;
        padding: ($base-spacing / 2) ($base-spacing / 2);

        p {
          margin: 0 0 ($base-spacing / 2);
        }
      }
      
      &:focus,
      &:hover {
        background-color: $card-hover-background;
        
        .bottle-card-image img {
          background: $card-image-hover-background;
        }
      
        .bottle-card-header {
          background-color: $card-hover-background;
        }
      }

      &:active {
        background-color: $card-background;

        .card-header {
          background-color: $card-background;
        }
      }
    }
  }


//..............................




.form, .show {
	max-width: 80%;
	margin: 20px auto;
}

div.bottle {
	width: 100%;
	margin: 0 auto;
}

div.event-info {
	display: flex;
	justify-content: space-around;
	// align-self: flex-start;
}

section.event {
	display: flex;
  justify-content: space-around;
}

	div.bottle h3 {
		padding: 0;
		margin: 0;
		font-size: 30px;
	}

div.bottle-item {
	display: flex;
	width: 75%;
	margin: 0 auto;
}

div.bottle-details {
	content-align: left;
}

img.thumbnail {
	width: 100px;
	height: 100px;
}

.bottle-thumb {
	padding: 0 20px 0 0;
}

img.event-image {
	width: 100%;

}
	
.form-group {
	width: 100%;
}

.form-group-spec {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

	div.fgs {
			margin: 10px;
	}

