$hero-image:'/assets/plain-chalk.jpg';

 .flex-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	max-width: 100%;
}


.section {
	display: flex;
	display-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}

	.icon-link {
		padding-top: 20px;
		font-size: 14px;
		text-align: center;
		margin: 10px;
	}

	.svg {
		width: 75px;
		height: 100px; 
	}


	.new {
		margin: 20px auto;

	}

	img.event-img {
		width: 250px;
		height: 120px;
	}

@media screen and (max-width: 650px) {
	
.section {
		display: block;
		max-width: 650px;
		margin: 0 auto;
		text-align: center; 
	}

		.icon-link {
			margin: 10px auto;
			text-align: center;
		}

			.svg {
				margin: 10px auto;
				margin-bottom: 50px;
			}

		.new-item {
			border: 1px solid orange;
			margin-bottom: 10px; 
		}
	
}

