// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flex-box {
	display: flex;
	flex-direction: column;
	max-width: 760px;
	justify-content: center;
	margin: 0 auto;
}


div#user {
	background-color: green;
}

div#event {
	background-color: pink;
}

div#bottle {
	background-color: yellow;
}